<app-headerfinal></app-headerfinal>

<div class="Fondo">
<div class="gallery-container ">
    <h1 class="Titulo">{{ galleryTitle }}</h1>
    <div class="gallery-grid ">
      <div *ngFor="let image of images" class="gallery-item FondoTarjet">
        <div class="image-wrapper">
          <img [src]="image.urls.small" [alt]="image.alt_description || 'Imagen de gimnasio'" class="gallery-image" />
        </div>
        <div class="image-info ">
          <h2>{{ image.title }}</h2>
          <p>{{ image.custom_description }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="images.length === 0">
      <p>No se encontraron imágenes.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>