/* src/app/shared/gallery-gym/gallery-gym.component.css */
.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: translateY(-5px);
  }
  
  .image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  

  .Fondo{
    background-color: black;
  }

  .FondoTarjet{
    background-color: aliceblue;
  }

  .Titulo{
   text-align: center;
    color: aliceblue;
  }