<!-- Navbar -->

<!-- Barra de navegación -->
<div class="nav-bar sticky-header">
    <nav class="navbar navbar-expand-lg navbar-light NavBar_color">
      <div class="container-fluid">
        <!-- Logo del sitio -->
        <a class="navbar-brand Logo_Margen" href="#">
          <img src="assets/img/Logo.png" alt="Nombre del Sitio">
        </a>
        <!-- Barra de búsqueda -->
        <div class="d-flex align-items-center flex-grow-1 justify-content-center"> <!-- Alineación y expansión -->
          <br>
          <br>
          <br>
          <!-- Formulario de búsqueda -->
          <form class="d-flex BarraBusqueda center"> <!-- Ajuste del ancho -->
            <input class="form-control me-2 flex-grow-1" type="search" placeholder="Buscar" aria-label="Buscar"> <!-- Ajuste del tamaño -->
            <button class="btn Btn_Buscar" type="submit">Buscar</button>
          </form>
        </div>
        <!-- Botón de menú desplegable -->
        <button class="navbar-toggler btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse Margin_Letras" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!-- Elementos de la barra de navegación -->
            <li class="nav-item">
              <a class="nav-link Color_Text_Nav" aria-current="page" href="#hero-sec">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Color_Text_Nav" href="#sede">Sedes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Color_Text_Nav" href="#entrenadores">Entrenadores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Color_Text_Nav" href="/galery">Servicios</a>
            </li>
            <!-- Botón de Registrar -->
            <li class="nav-item">
              <a class="btn custom-btn" href="/Register">Registrar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Fin de NavBar -->
  
